.reveal-modal-bg 
{ 
    background: #000;
    display: none;
    height: 100%;
    left: 0; 
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 100;
}
	
.reveal-modal 
{
    background: #eee url(modal-gloss.png) no-repeat -200px -80px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    left: 50%;
    margin-left: -300px;
    padding: 30px 40px 34px;
    position: absolute;
    top: 100px; 
    visibility: hidden;
    width: 520px;
    z-index: 101;
}
		
.reveal-modal.small  { margin-left: -140px; width: 200px; }
.reveal-modal.medium { margin-left: -240px; width: 400px; }
.reveal-modal.large  { margin-left: -340px; width: 600px; }
.reveal-modal.xlarge { margin-left: -440px; width: 800px; }

.reveal-ajax-loader
{
    background: url(images/ajax-loader.gif) no-repeat;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding-left: 38px;   
}
.reveal-modal .close-reveal-modal 
{
    color: #aaa;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    line-height: .5;
    position: absolute;
    right: 8px;
    top: 8px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
} 
		
.reveal-modal .close-reveal-modal:hover 
{
    color: #707070;
}
		
.reveal-modal .row { min-width: 100%; max-width: 100%; width: 100%; }
	
/* Mobile */		
@media handheld, only screen and (device-width: 768px), (device-width: 800px) 
{
    .reveal-modal-bg { position: absolute; }
    .reveal-modal, .reveal-modal.small, .reveal-modal.medium, .reveal-modal.large,.reveal-modal.xlarge 
    { 
        height: auto;
        left: 15%; 
        margin-left: 0px; 
        padding: 5%;
        top: 30%;  
        width: 60%; 
    }
}
		
@media handheld, only screen and (max-width: 767px) 
{
    .reveal-modal-bg { position: absolute; }
    .reveal-modal, .reveal-modal.small, .reveal-modal.medium, .reveal-modal.large,.reveal-modal.xlarge 
    { 
        height: auto;
        left: 5%; 
        margin-left: 0px; 
        padding: 5%;
        top: 15%;  
        width: 80%;     
    }
}
